body{
  margin:0;
  padding:0;
}

/* Top Menu Style */

.top-menu{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.top-logo{
  width: 20% !important;
  display: inline-block;
}
.top-menu-text{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.top-icons{
  width: 15%;
  display: inline-block;
  vertical-align: top;
  margin-top:20px;
  
}
.top-logo > .logo{
  height: 120px;
  width: 120px;
  margin-top:-40px;
}

/* List Menu */
.top-menu-text ul {
  list-style: none;
  
}
.top-menu-text ul li{
  display: inline-block;
  margin:0 15px;
  font-size: 1 rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-icons svg{
  margin: 0 10px;
}
/* Top Banner */
.top-banner{
  width: 100%;
  margin: 0;
  padding: 0;
  
}
.top-banner> img{
  width: 100%;
  height: 500px;
}